.deptos-header {
    position: relative;
    height: 60rem;
    background-image: url(../img/departamentos-lifestyle.jpg);
    background-size: contain;
    background-attachment: fixed;
    background-repeat: no-repeat;

    @media only screen and (max-width: $bp-lg) {
        background-size: cover;
    }

    &__heading {
        text-transform: uppercase;
        font-size: $font-hg;
        text-align: center;
        font-weight: $light;
        white-space: nowrap;
        @include absCenter;
        left: 72%;
        top: 55%;
        line-height: 1.3;

        @media only screen and (max-width: $bp-lg) {
            left: 50%;
        }
    }
}

.deptos {
    padding-top: 4rem;
    padding-bottom: 10rem;

    @media only screen and (max-width: $bp-sm) {
        padding-left: 2rem;
        padding-right: 2rem;
    }

    &__heading {
        text-align: center;
        text-transform: uppercase;
        color: $color-secondary;
        font-size: $font-bg;
        font-weight: $medium;
        position: relative;
        margin-top: 3rem;
        margin-bottom: 25rem;

        @media only screen and (max-width: $bp-lg) {
            margin-bottom: 10rem;
        }
        

        &::before, 
        &::after {
            content: "";
            width: 3.5rem;
            height: 2px;
            background-color: currentColor;
            display: block;
            position: absolute;
            transform: translateX(-50%);
            left: 50%;
        }

        &::before {
            top: -2.5rem;
        }

        &::after {
            top: 5rem;

            @media only screen and (max-width: $bp-md) {
                top: 8rem;
            }
        }
    }

    &__more {
        &:link,
        &:visited {
            color: $color-secondary;
            font-size: 1.4rem;
            display: block;
            width: 11rem;
            border-bottom: 1px solid currentColor;
            margin: 0 auto;
            margin-top: 8px;
            margin-bottom: 8px;
        }

        &:hover {
            opacity: .9;
        }
    }

    ////// BOOTSTRAP DINAMIC PILLS CUSTOM STYLES /////
    &__pill {
        &.nav-link {
            color: $color-primary;
            border: 1px solid $color-primary;

            &.active {
                color: $color-white;
                background-color: $color-primary;
            }
        } 
    }

    .tab-content {

        &--1 {
            margin-top: 1rem;
        }
    }

    &__tipos {
        margin-top: 5rem;
        border-right: 1px solid $color-primary;
        width: 18rem;

        @media only screen and (max-width: $bp-lg) {
            margin-left: auto;
            margin-right: auto;
        }
    }

    &__models {
        display: flex;
        align-items: center;
        margin: 3px 0;

        &:link,
        &:visited {
            color: $color-secondary;
            font-size: 1.6rem;
            font-weight: $semi-bold;
        }

        &:hover,
        &.active {
            color: $color-primary;
        }

        &::before {
            content: "";
            display: inline-block;
            width: .8rem;
            height: 1.5rem;
            background-color: $color-primary;
            margin-right: 8px;
            clip-path: polygon(0 0, 100% 50%, 0 100%);
            opacity: 0;
        }

        &.active::before {
            opacity: 1;
        }
    }

    &__plano {
        width: 90%;
        display: block;
        margin: 0 auto;
    }

    &__descripcion {
        margin-top: 5rem;

        @media only screen and (max-width: $bp-lg) {
            margin-top: 1rem;
        }

        h4 {
            font-size: 1.6rem;
            font-weight: $semi-bold;
            margin-bottom: 1rem;
        }

        p {
            color: $color-secondary;
            font-size: 1.6rem;
            margin: 0;
        }
    }

    &__content {
        display: grid;
        grid-template-columns: 75% 25%;

        @media only screen and (max-width: $bp-lg) {
            grid-template-columns: 1fr;
            grid-template-rows: repeat(2, max-content);
        }
    }
}
